{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

        {% for listing in listings%}
        <div class="box">
            <a href="{% url 'listing' listing.id %}">
                <div><h4>{{listing.title}}</h4></div>
                <div>Starting Bid: {{listing.price}} $</div>
                {% if listing.image %}
                    <div><img src="{{listing.image}}" alt="{{listing.title}}" class="img-listing-page"></div>
                {% else %}
                    <div><img src="https://www.cort.com/assets/images/no-image.png" alt="img not found" class="img-listing-page"></div>
                {% endif %}
                <div>Author: {{listing.user}}</div>
                </div><br>
            </a>
        {% endfor %}
            

    </ul>
        
{% endblock %}