{% extends "auctions/layout.html" %}

{% block title %}
    {{listing.title}}
{% endblock%}

{% block body %}
    <div class="item-listing">
        <div><h4>Item: {{listing.title}}</h4></div>
        <div>Description: {{listing.content}}</div>
        {% if listing.image %}
            <div><img src="{{listing.image}}" alt="{{listing.title}}" class="img-full-page"></div>
        {% else %}
            <div><img src="https://www.cort.com/assets/images/no-image.png" alt="img not found" class="img-full-page"></div>
        {% endif %}
        <div><span class="time-stamp">Posted on {{listing.time}}</span></div>
        <div>Starting Bid: <b>{{listing.price}} $</b></div>
        <div>posted by: <b>{{listing.user}}</b></div>
    </div>
    

    {% if message %}
        <div class="alert alert-danger" style="width: 80%;">{{message}}</div>
    {% endif %}

        <div class="bid-form">
            <form action="" method="POST">{% csrf_token %}
                {{bid_form}}
                <input type="submit" value="Bid" class="btn btn-primary">
            </form>
        </div>
    
        <div class="bids">
            <div class="current-bid">
                <div><h4>Active Bid: {{active_bid.bid}}$</h4></div>
                <div>Current winner: {{active_bid.user}}</div>
            </div>

        <h4>Bids:</h4>
        {% for bid in bids %}
            <div>
                <span class="time-stamp"> {{bid.time}}</span>
                <div>{{ bid.user }}</div>
                <div>{{ bid.bid }}$</div>
            </div>
        {% endfor %}
    </div>

    <div class="comments">
        <h4>Comments ({{comments.count}})</h4>
        {% for comment in comments %}
            <div><b>{{comment.user}}</b> <span class="time-stamp">{{comment.time}}</span></div>    
            <div>{{comment.comment}}</div>   
        {% endfor %}
    </div>

    {% if comment_form %}
    <div class="comment-form">
        <form action="" method="POST">{% csrf_token %}
            {{comment_form}}
            <input type="submit" value="Add Comment" class="btn btn-primary">
        </form>
    </div>
    {% else %}
        <br>
        <div>
            <div><h6>Log in to write a comment.</h6></div>
            <div>Not Registered Yet? <a href="{%url 'register' %}">Click Here</a></div>
        </div>
    {% endif %}


    
    
{% endblock %}